/*topnav code*/

body {
  margin: 0;
  font: 40 15px/1.8 "Lato", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  z-index: 50;
}

.navbarOffsetMargin {
  padding-top: 45px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.font_heading{
  font-weight: 600;
  font-size: 45px;
  color: #007765;
  text-align: center;
  margin: auto;
  display: block;

}

.font_heading_mobile {
    font-weight: 600;
    font-size: 45px;
    color: #007765;
    text-align: center;
    margin: 60px 0px auto 0px;
    display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {

  .green_mobile {
    background-color: #04AA6D
  }

}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }


  .font_heading_mobile {
    font-size: 0.4em;
  }

  .font_paragraph_mobile {
    font-size: 0.8;
  }
}

.center-align {
  text-align: center;
}



@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



body {
  font-family: "Lato", sans-serif;
}

/*sidenav code*/

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (max-width: 480px) {
  .sidenav .closebtn {
    right: -2px;
    font-size: 24px;
    color: #fefefe;
  }
}

@media screen and (max-height: 550px) {
  .green {
    background-color: #04AA6D !important;
    color: #04AA6D;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


/* slideshow code */

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.member img {
  height: 200px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -18px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #8888;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 480px) {
  .text {
    font-size: 11px
  }

  .prev,
  .next {
    padding: 7px;
    margin-top: -17px;
    font-size: 11px;
    background-color: #8888;
  }
}

.caption-div {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption-border {
  background-color: #0c0b0b;
  color: #fff;
  padding: 3px;
  font-size: 20px;
  letter-spacing: 0px;
}

.border-w-shadow {
  border-style: solid;
  border-width: 0px;
  border-color: #dcdcdc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  ;
}

/* parallax css*/

body,
html {
  height: 100%;
}

.parallax1 {
  /* The image used */
  background-image: url('war.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  position: relative;
}

.parallax2 {
  background-image: url('war1.webp');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  position: relative;
}

.parallax3 {
  background-image: url('war1.webp');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  position: relative;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 6px;
  font-size: 15px;
  letter-spacing: 0px;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/*MEMBERS*/

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

h1 {
  color: #007765;
  font-weight: 500;
  text-align: center;
  font-size: 64px;
}

.container {
  width: 100%;
  margin: 0 auto;
}


.members {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.member {
  text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;
}

.member-role {
  font-style: italic;
  font-size: 18px;
}


/* SHOW BUTTON */


.button {
  padding: 15px 25px;
  font-size: 15px;

  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
  display: block;
  margin: auto;

}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#more {
  display: none;
}


.readbutton {
  text-align: center;
  margin: auto;
  display: block;
  font-size: 30px;
  background-color: #b5a9a9;
  color: #fff;
}

@media screen and (max-width: 400px) {
  .container {
    position: relative;
  }

  .containe h1 {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* contact us */
.container {
  background: #F8F8F8;
  width: 900px;
  height: auto;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative;
}

.container .map {
  width: 45%;
  float: left;
}

.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}

.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}

.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}

.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}

.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}

.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #F8F8F8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}

.heading {
  font-weight: 600;
  font-size: 45px;
  color: #007765;
  text-align: center;
  margin: auto;
  display: block;
}

.contact-container {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
  height: 800px;
}
 
/* team section */
.team-display{
display: flex;
}


/* members */
.class-flex{
  background-color: #007765;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
}


.img{
    /* float: left; */
    width:  100%;
    height: 100%;
    /* object-fit: cover; */
}



.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

/* #myTopnav {
  overflow: hidden;
  background-color: #333;
  z-index: 50;
}

#myTopnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#myTopnav a:hover {
  background-color: #ddd;
  color: black;
}

#myTopnav a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}